.h1-center {
	font-family: 'Arvo', sans serif;
	font-size: 3.5rem;
	padding: 15px 0 0 10px;
	margin-top: 25px;
  color: white;
  text-decoration: none;
}

header {
  float: left;
  margin: 0 0 0 0;
  padding: 5px 0 0 0;
  width: 100%;
  background-color: #9c386b;
  /*background-color: #87305d;*/
}


h2 {
  font-size:0.75em;
  margin:-5px 0 0;
  font-weight: normal;
}

#wrapper {
  margin-top: -20px;
}
/*p {
  color: dimgrey;
}*/

/*NAVIGATION*/

.navbar {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #f7f7f7;
  padding: 0 0 0 5px;
  margin: 0;
}


.nav-item {

  padding: 10px;
 /* text-align: center;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-decoration: none;
}

.bar-item {
margin-left: 30px;
padding-bottom: 10px;

}

.search-field {
  width: 100%;
  margin-left: auto;
  display: flex;
 /* flex-flow: row nowrap;
  justify-content: flex-end;*/

  
}

.sf-space {
  display: flex;


}

.f-space {
   padding: 10px 20px 10px 10px;
}

input {
  height: 35px;

}

@import "compass/css3";

.pointer { cursor: pointer; }


button {
/*  margin: 0 10px 0 0;
*/
  font-size: 16px;
  font-family: 'Arvo', sans serif;
  line-height: 1.8;
  width: 65px;
  height: 100%;
  box-shadow: none;
  border-radius: 5px;
  border: none;
  color: white;
  /*height: 35px;*/
}


/*CARD*/

/*.card{
  margin-left: 20px;

}*/


.card-block {
  border-width: 1px;
  border-style: solid;
  padding: 15px;
  border-color: lightgrey;
  border-radius: 3px;
  display: flex;
  align-items: stretch;
}

.vote-column {
  /*margin: -9px 0 0 0;*/
  /*padding: 0 0 10 0;*/
  text-decoration: none;
  display:flex;
  flex-direction: column;
  flex-shrink: 1;
  margin-right: 15px;

/*  justify-content: space-between;
*/  /*align-items: flex-start;*/
}

.btn-ali { 
  color: #FFFFFF; 
  background-color: #00A3B4; 
  border-color: #444444; 

  
} 
 

.vote-count {
  font-family: 'Open Sans', sans serif;
  /*display: block;*/
  font-size: 1em;
  color: #white;
  font-weight: bold;
}


/*i.fa {
    color: darkgrey;
}
            

i.fa.pressed {
    color: mediumorchid;
}*/

.card-content {

  display: flex;
  flex-direction: column;
}

.title-row {
  display: flex;
  align-items: flex-end;
}
.url-label {
  font-family: ;
  font-size: 13px;
  padding-left: 5px;
}

.card-title {

  font-family: 'Open Sans', sans serif;
  /*display: block;*/
  font-size: 1em;
  color: #00a3b4;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0 0 10px 0;
}

.card-title a {

  color: #00a3b4;
  text-decoration: none;
}


p.card-text {
  line-height: 1.5;
  font-size: 14px;
  color: #445555;
  margin: 0 0 10px 0;
}

.bottom-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  
}
.card-subtitle {
  font-family: 'Verdana', sans serif;
  margin: 0 0 -10px 0;
  font-size: 12px;
  color: #445555;
  padding: 0 12px 0 0;
}
.card-subtitle a {

  color: black;
  
}

/*.card-links-row {

  display: flex;
  justify-content: flex-start;
}*/
.card-link {
  color:#0275d8;
  text-decoration: none;
  margin: 0 0 -10px 0;
  padding: 0 12px 0 0;
  font-size: 12px;
  font-family: 'Verdana', sans serif;
  /*margin-left: 15px;*/

}
